<div class="card w-800px mw-100 mh-100">
    <!-- #region Header -->
    <div class="card-header">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">
                <ng-container *ngIf="!data">Upload New File</ng-container>
                <ng-container *ngIf="data">Edit File</ng-container>
            </h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-icon btn-sm text-hover-danger" (click)="close()">
                <i class="bi bi-x-lg text-dark fs-4"></i>
            </button>
        </div>
    </div>
    <!-- #endregion Header -->

    <div class="form">
        <!-- #region Body -->
        <div class="card-body border-top h-400px">

            <!-- #region name -->
            <div class="row mb-5">
                <label class="col-lg-4 col-form-label fw-bold fs-6">Name</label>
                <div class="col-lg-8 fv-row">
                    <input type="text" class="form-control form-control-solid text-dark mb-3 mb-lg-0"
                        placeholder="Type a Name for File" [(ngModel)]="fileName" />
                </div>
            </div>
            <!-- #endregion name -->

            <!-- #region file -->
            <div class="row">
                <label class="col-lg-4 col-form-label fw-bold fs-6">File</label>
                <div class="col-lg-8 fv-row">
                    <button class="btn btn-primary px-15" (click)="onUploadBtnClick()">
                        <span>Upload</span>
                        <input class="d-none" id="fileUploader" (change)="onFileUploadeChange($event.target.files)" type="file" accept=".png, .jpg, .jpeg" />
                    </button>
                </div>
            </div>
            <!-- #endregion file -->

        </div>
        <!-- #endregion Body -->

        <!-- #region Card Footer -->
        <div class="card-footer d-flex justify-content-between py-6 px-9">

            <div>
                <div class="my-0">
                    <div class="form-check form-switch form-switch-sm form-check-custom form-check-solid mb-1">
                        <input id="note-type" class="form-check-input ms-auto" type="checkbox" [(ngModel)]="private"
                            name="notifications" defaultChecked="{true}" />
                    </div>
                    <label for="note-type" [class.text-muted]="false"
                        class="user-select-none form-label cursor-pointer text-primary fs-8 m-0">
                        Private
                    </label>
                </div>
            </div>

            <div class="text-end">
                <!-- #region Create URL -->
                <button type="button" class="btn btn-primary" [disabled]="isLoading" (click)="onDoneBtnClick()">
                    <ng-container *ngIf="!isLoading">Done</ng-container>
                    <ng-container *ngIf="isLoading">
                        <span clas="indicator-progress" [style.display]="'block'">
                            Please Wait...{{ " " }}
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                    </ng-container>
                </button>
                <!-- #endregion Create URL -->
            </div>

        </div>
        <!-- #endregion Card Footer -->
    </div>
</div>