<div class="card">

    <!-- #region Header -->
    <div class="card-header border-0">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-bolder fs-3">Registration</span>
            <span class="text-muted fw-normal fs-7">{{350 | number}} Records</span>
        </h3>
        <div class="card-toolbar">

            <!-- #region Search -->
            <div class="d-flex align-items-center position-relative me-2">
                <label for="search-links" class="svg-icon svg-icon-2 position-absolute ms-3"
                    [inlineSVG]="'assets/media/icons/duotune/general/gen021.svg'"></label>
                <input type="text" id="search-links" data-kt-customer-table-filter="search"
                    class="form-control form-control-sm form-control-solid w-200px ps-12">
            </div>
            <!-- #endregion Search -->

            <!-- #region Filter  -->
            <select class="form-select form-select-sm form-select-solid form-select-transparent w-100px me-2">
                <option value="1">All</option>
                <option value="2">Successful</option>
                <option value="2">Unsuccessful</option>
            </select>
            <!-- #endregion Filter  -->

        </div>
    </div>
    <!-- #endregion Header -->

    <!-- #region Body -->
    <div class="card-body pt-0">
        <!-- #region Table container -->
        <div class="table-responsive mh-400px">
            <!-- #region Table -->
            <table class="table align-middle mb-0 gx-3 text-center text-nowrap">
                <!-- #region Table head -->
                <thead>
                    <tr class="fw-normal bg-light">
                        <th class="ps-4 min-w-200px fw-bolder text-start rounded-start">User</th>
                        <th class="fw-bolder">Date</th>
                        <th class="fw-bolder">IP</th>
                        <th class="fw-bolder">Device</th>
                        <th class="fw-bolder pe-4 rounded-end">Link</th>
                    </tr>
                </thead>
                <!-- #endregion Table head -->
                <!-- #region Table body -->
                <tbody>
                    <tr *ngFor="let entry of [1,2,3,4]" class="border-gray-200 border-bottom-dashed border-bottom-1">

                        <!-- #region user -->
                        <td class="min-w-200px">
                            <div class="d-flex align-items-center flex-grow-1">
                                <div class="symbol symbol-40px me-4">
                                    <img src="./assets/media/avatars/300-2.jpg" alt="" />
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <a class="text-gray-800 fs-5 fw-bolder" routerLink="/activities/contracts">
                                        Pam Beesly
                                    </a>
                                </div>
                            </div>
                        </td>
                        <!-- #endregion user -->

                        <!-- #region date -->
                        <td class="fw-bolder text-center">
                            3/5/2022 - 10:45 PM
                        </td>
                        <!-- #endregion date -->

                        <!-- #region IP -->
                        <td class="fw-bolder text-center">
                            145.268.12.145
                        </td>
                        <!-- #endregion IP -->

                        <!-- #region Device -->
                        <td class="fw-bolder">
                            iPhone 13
                        </td>
                        <!-- #endregion Device -->

                        <!-- #region link -->
                        <td class="fw-bolder text-primary">
                            http://helphand.com/asd3jrs
                        </td>
                        <!-- #endregion link -->

                    </tr>
                </tbody>
                <!-- #endregion Table body -->
            </table>
            <!-- #endregion Table -->
        </div>
        <!-- #endregion Table container -->
    </div>
    <!-- #endregion Body -->

</div>