<h3>RM Teams</h3>
<!-- #region card -->
<div class="card">
    <!-- #region Header -->
    <div class="card-header">

        <!-- #region title -->
        <h3 class="card-title">
            <span class="card-label fw-normal fs-3 mb-1 d-flex align-items-center">
                Branches
                <prms-tool-tip [context]="tooltips.title" class="ms-1"></prms-tool-tip>
            </span>

        </h3>
        <!-- #endregion title -->

    </div>
    <!-- #endregion Header -->

    <!-- #region body -->
    <div class="card-body">
        <!-- #region Table container -->
        <div class="table-responsive mah-400px">
            <!-- #region Table -->
            <table class="table align-middle mb-0 gx-3 text-center">

                <!-- #region Table body -->
                <tbody>
                    <tr *ngFor="let rm of tableDataSource.items"
                        class="border-gray-200 border-bottom-dashed border-bottom-1 fs-5">

                        <!-- #region marketer name -->
                        <td class="min-w-400px py-6 text-start">
                            <div class="d-flex align-items-center flex-grow-1">
                                <div class="symbol symbol-60px me-4">
                                    <img [src]="rm.profileImageUrl" alt="user image" [hidden]="!rm.profileImageUrl" />
                                    <div class="symbol-label fs-2 fw-bold text-primary" [hidden]="rm.profileImageUrl">
                                        {{rm.headUserFullName.substring(0,1)}}
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a class="text-gray-800 mb-1 mb-2 fw-bolder" [routerLink]="['/activities/overview']"
                                        [queryParams]="{i: rm.id}">
                                        {{rm.headUserFullName}}
                                        <span class="badge bg-primary rounded-circle badge-sm ms-2"
                                            *ngIf="rm.marketerTypeTitle != 'No Marketer Type'">
                                            {{rm.marketerType | roleConverter}}
                                        </span>
                                    </a>
                                    <span class="text-muted fs-7 fw-bolder">{{rm.teamName}}</span>
                                </div>
                            </div>
                        </td>
                        <!-- #endregion marketer name -->
                        <!-- #region total share -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" [ngClass]="{'text-gray-400': !rm.hasCustomCommission }">
                                    {{getTotalShare(rm)}}%
                                </span>
                            </div>
                            <div class="text-muted fs-7">Total Share</div>
                        </td>
                        <!-- #endregion total share -->
                        <!-- #region RM -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" *ngIf="!rm.editMood"
                                    [ngClass]="{'text-gray-400': !rm.hasCustomCommission || !rm.rmCommission}">
                                    {{rm.rmCommission}}%
                                </span>
                                <input type="text" *ngIf="rm.editMood" [(ngModel)]="rm.rmCommission"
                                    class="w-50px text-center border-botoom border-left-0 border-right-0 border-top-0 text-gray-500"
                                    style="outline: none;">
                            </div>
                            <div class="text-muted fs-7">RM</div>
                        </td>
                        <!-- #endregion RM -->
                        <!-- #region DM -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" *ngIf="!rm.editMood"
                                    [ngClass]="{'text-gray-400': !rm.hasCustomCommission || !rm.dmCommission}">
                                    {{rm.dmCommission}}%
                                </span>
                                <input type="text" *ngIf="rm.editMood" [(ngModel)]="rm.dmCommission"
                                    class="w-50px text-center border-botoom border-left-0 border-right-0 border-top-0 text-gray-500"
                                    style="outline: none;">
                            </div>
                            <div class="text-muted fs-7">DM</div>
                        </td>
                        <!-- #endregion DM -->
                        <!-- #region L3 -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" *ngIf="!rm.editMood"
                                    [ngClass]="{'text-gray-400': !rm.hasCustomCommission || !rm.level3Commission}">
                                    {{rm.level3Commission}}%
                                </span>
                                <input type="text" *ngIf="rm.editMood" [(ngModel)]="rm.level3Commission"
                                    class="w-50px text-center border-botoom border-left-0 border-right-0 border-top-0 text-gray-500"
                                    style="outline: none;">
                            </div>
                            <div class="text-muted fs-7">AM3</div>
                        </td>
                        <!-- #endregion L3 -->
                        <!-- #region L4 -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" *ngIf="!rm.editMood"
                                    [ngClass]="{'text-gray-400': !rm.hasCustomCommission || !rm.level4Commission}">
                                    {{rm.level4Commission}}%
                                </span>
                                <input type="text" *ngIf="rm.editMood" [(ngModel)]="rm.level4Commission"
                                    class="w-50px text-center border-botoom border-left-0 border-right-0 border-top-0 text-gray-500"
                                    style="outline: none;">
                            </div>
                            <div class="text-muted fs-7">AM4</div>
                        </td>
                        <!-- #endregion L4 -->
                        <!-- #region L5 -->
                        <td class="min-w-100px text-muted">
                            <div class="mb-2">
                                <span class="text-primary" *ngIf="!rm.editMood"
                                    [ngClass]="{'text-gray-400': !rm.hasCustomCommission || !rm.level5Commission}">
                                    {{rm.level5Commission}}%
                                </span>
                                <input type="text" *ngIf="rm.editMood" [(ngModel)]="rm.level5Commission"
                                    class="w-50px text-center border-botoom border-left-0 border-right-0 border-top-0 text-gray-500"
                                    style="outline: none;">
                            </div>
                            <div class="text-muted fs-7">AM5</div>
                        </td>
                        <!-- #endregion L5 -->
                        <!-- #region Custom team Commissions -->
                        <td class="text-muted text-start">
                            <div *ngIf="rm.customteamCommissionCnt" class="min-w-200px">
                                <div class="mb-2">
                                    <span class="text-primary">
                                        {{rm.customteamCommissionCnt}}
                                    </span>
                                </div>
                                <div class="text-muted fs-7">Custom Team Commissions</div>
                            </div>
                        </td>
                        <!-- #endregion Custom team Commissions -->
                        <!-- #region actions -->
                        <td class="min-w-100px text-end">
                            <button class="btn btn-light btn-sm btn-icon me-3" ngbTooltip="Reset to Default"
                                placement="top" *ngIf="hasCustomCommissions && rm.teamId" (click)="resetToDefault(rm)">
                                <i class="bi bi-arrow-clockwise"></i>
                            </button>
                            <button class="btn btn-light btn-sm btn-icon" *ngIf="hasCustomCommissions"
                                (click)="onBtnEditClick(rm)">
                                <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                        <!-- #endregion actions -->

                    </tr>
                </tbody>
                <!-- #endregion Table body -->
            </table>
            <!-- #endregion Table -->
        </div>
        <prms-table-pagination [model]="tableDataSource" (change)="getData()"></prms-table-pagination>
        <!-- #endregion Table container -->
    </div>
    <!-- #endregion body -->
</div>
<!-- #endregion card -->