<div class="row g-5 g-xxl-8">
  <!-- #region Generate Link -->
  <div class="col-12">
    <management-marketers-generate-link class="card">
    </management-marketers-generate-link>
  </div>
  <!-- #endregion Generate Link -->

  <!-- #region Subset Marketers -->
  <div class="col-12">
    <management-marketers-subset-marketers>
    </management-marketers-subset-marketers>
  </div>
  <!-- #endregion Subset Marketers -->

  <!-- #region Teams -->
  <!-- <div class="col-12">
    <management-marketers-teams>
    </management-marketers-teams>
  </div> -->
  <!-- #endregion Teams -->
</div>