<div class="d-flex flex-column flex-column-fluid text-center p-10 py-lg-15">
  <!-- #region Logo-->
  <a routerLink="/" class="mb-10 pt-lg-10">
    <img alt="Logo" src="/assets/media/logos/logo-1.png" class="h-50px mb-5">
  </a>
  <!-- #endregion Logo-->

  <!-- #region Wrapper-->
  <div class="pt-lg-10 mb-10">
    <!-- #region Logo-->
    <h1 class="fw-bolder fs-2qx text-gray-800 mb-7">Password is Changed</h1>
    <!-- #endregion Logo-->

    <!-- #region Message-->
    <div class="fs-3 fw-bold text-muted mb-10">
      <div class="mb-3">Your password is successfully changed. Please sign </div>
      in to your account and start a new project.
    </div>
    <!-- #endregion Message-->

    <!-- #region Action-->
    <div class="text-center mb-10">
      <a href="/auth/login/password" class="btn btn-lg btn-primary fw-bolder">Sign In</a>
    </div>
    <!-- #endregion Action-->
  </div>
  <!-- #endregion Wrapper-->

  <!-- #region Illustration-->
  <div
    class="d-flex flex-row-auto bgi-no-repeat bgi-position-x-center bgi-size-contain bgi-position-y-bottom min-h-100px min-h-lg-350px"
    style="background-image: url(/assets/media/illustrations/sketchy-1/17.png)"></div>
  <!-- #endregion Illustration-->
</div>
