<!-- #region Card -->
<div class="card">
  <!-- #region Header-->
  <div class="card-header align-items-center">
    <h3 class="card-title align-items-center">
      <span class="svg-icon svg-icon me-2"
        [inlineSVG]="'./assets/media/svg/custom/date31.svg'"></span>
      <span class="card-label fw-normal fs-3">Jan 23, 2022</span>
    </h3>
  </div>
  <!-- #endregion Header-->

  <!-- #region Body-->
<div class="overflow-hidden card-body p-0">
  <!-- #region Timeline wapper -->
  <div class="scroll-y px-5 px-lg-9 py-5 pb-lg-5" style="max-height: calc(330px - var(--bs-gutter-y));">
    <!-- #region Timeline-->
    <div class="timeline-label">
      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">08:42</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-warning fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Text-->
        <div class="fw-normal timeline-content text-muted ps-3">
          Activity
        </div>
        <!-- #endregion Text-->
      </div>
      <!-- #endregion Item-->
      
      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">10:00</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-success fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Content-->
        <div class="timeline-content d-flex">
          <span class=" text-gray-800 ps-3">
            Activity
          </span>
        </div>
        <!-- #endregion Content-->
      </div>
      <!-- #endregion Item-->
      
      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">14:37</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Desc-->
        <div class="timeline-content text-gray-800 ps-3">
          Activity
        </div>
        <!-- #endregion Desc-->
      </div>
      <!-- #endregion Item-->
      
      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">16:50</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-primary fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Text-->
        <div class="timeline-content fw-normal text-muted ps-3">
          Activity
        </div>
        <!-- #endregion Text-->
      </div>
      <!-- #endregion Item-->
      
      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">21:03</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Desc-->
        <div class="timeline-content fw-bold text-gray-800 ps-3">
          Activity
        </div>
        <!-- #endregion Desc-->
      </div>
      <!-- #endregion Item-->

      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">16:50</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-primary fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Text-->
        <div class="timeline-content fw-normal text-muted ps-3">
          Activity
        </div>
        <!-- #endregion Text-->
      </div>
      <!-- #endregion Item-->

      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">21:03</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-danger fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Desc-->
        <div class="timeline-content fw-bold text-gray-800 ps-3">
          Activity
        </div>
        <!-- #endregion Desc-->
      </div>
      <!-- #endregion Item-->

      <!-- #region Item-->
      <div class="timeline-item">
        <!-- #region Label-->
        <div class="timeline-label text-gray-800 fs-6">10:30</div>
        <!-- #endregion Label-->
        <!-- #region Badge-->
        <div class="timeline-badge">
          <i class="fa fa-genderless text-success fs-1"></i>
        </div>
        <!-- #endregion Badge-->
        <!-- #region Text-->
        <div class="timeline-content fw-normal text-muted ps-3">
          Activity
        </div>
        <!-- #endregion Text-->
      </div>
      <!-- #endregion Item-->
    </div>
    <!-- #endregion Timeline-->
  </div>
  <!-- #endregion Timeline wapper -->
</div>
<!-- #endregion Card Body-->
</div>
<!-- #endregion Card -->