<!-- #region contract -->
<div class="row g-5 g-xxl-8">

  <!-- #region Contract List -->
  <div class="col-xl-12">
    <prms-contract-list>
    </prms-contract-list>
  </div>
  <!-- #endregion Contract List -->

  <!-- #region Contract Templates -->
  <div class="col-xl-6">
    <prms-contract-templates>
    </prms-contract-templates>
  </div>
  <!-- #endregion Contract Templates -->

  <!-- #region Marketers Without Contract -->
  <div class="col-xl-6">
    <prms-marketers-without-contract>
    </prms-marketers-without-contract>
  </div>
  <!-- #endregion Marketers Without Contract -->

</div>
<!-- #endregion contract -->