<!-- #region Marketers -->
<div class="row g-5 g-xxl-8">

    <!-- #region generate affiliate marketer signup link -->
    <div class="col-xl-12">
        <prms-generate-affiliate-marketer-signup-link class="card">
        </prms-generate-affiliate-marketer-signup-link>
    </div>
    <!-- #endregion generate affiliate marketer signup link -->

    <!-- #region marketers list -->
    <div class="col-xl-12">
        <prms-marketers-list>
        </prms-marketers-list>
    </div>
    <!-- #endregion marketers list -->

</div>
<!-- #endregion Marketers -->