<!-- #region Pay Per Operation -->
<div class="row g-5 g-xxl-8">

    <!-- #region default pay per operation for all users -->
    <div class="col-xl-12">
        <prms-default-pay-per-operation-for-all-users>
        </prms-default-pay-per-operation-for-all-users>
    </div>
    <!-- #endregion default pay per operation for all users -->

    <!-- #region latest payments -->
    <div class="col-xl-12">
        <prms-latest-payments>
        </prms-latest-payments>
    </div>
    <!-- #endregion latest payments -->

</div>
<!-- #endregion Pay Per Operation -->