<!-- #region Header -->
<div class="card-header">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-normal fs-3 d-flex align-items-center">
        Generate Affiliate Marketer Signup Link
        <prms-tool-tip [context]="tooltips.title" class="ms-1"></prms-tool-tip>
      </span>
    </h3>
  </div>
  <!-- #endregion Header -->
  <!-- #region Body -->
  <div class="card-body">
  
    <!-- #region Generate -->
    <div [hidden]="(showGeneratedLink$|async)">
      <div class="d-flex align-items-center">
        <span class="text-muted text-nowrap fw-bold me-6 fs-6">Marketing Level : </span>
  
        <ng-select 
          [searchable]="false"
          class="custom-select ng-select-sm me-2 w-100px"
          [(ngModel)]="selectedRole"
          [disabled]="allowedRoles.length<2"
        >
          <ng-option [value]="role.value" *ngFor="let role of allowedRoles">
              {{ role.title }}
          </ng-option>
        </ng-select>
          
        <ng-select 
          *ngIf="generateLinkForUser"
          [searchable]="false"
          #userSelect
          class="custom-select ng-select-sm me-2 min-w-200px mw-250px"
          placeholder="Select User"
          [(ngModel)]="selectedUser"
          (change)="selectUser($event)"
        >
          <ng-template ng-loadingspinner-tmp>
            <div class="spinner-border spinner-border-sm text-primary"></div>
          </ng-template>
          <ng-template ng-header-tmp>
            <input 
              type="text" 
              class="form-control"
              autocomplete="off"
              (input)="userSelect.filter($event.target.value)"
            />
          </ng-template>
          <ng-option [value]="user" *ngFor="let user of users">
              {{ user.fullName }}
          </ng-option>
        </ng-select>
  
        <button type="button" class="btn btn-sm btn-light-primary text-nowrap me-2"
          (click)="toggleGeneratorLink()"
        >{{generateLinkForUser?'For Me':'For User'}}</button>

        <button 
          type="button" 
          [disabled]="isLoading$ | async" 
          class="btn btn-sm btn-primary" 
          (click)="onGenerate()"
          [disabled]="!allowedRoles.length"
        >
          <ng-container *ngIf="isLoading$ | async">
            <span class="indicator-progress" [style.display]="'block'">
              Please Wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </ng-container>
          <ng-container *ngIf="!(isLoading$ | async)">
            <span class="indicator-label">Generate</span>
          </ng-container>
        </button>
      </div>
    </div>
    <!-- #endregion Generate -->
  
    <!-- #region Generate New -->
    <div [hidden]="!(showGeneratedLink$|async)">
      <div class="d-flex align-items-center">
        <span class="text-muted text-nowrap fw-bold me-6 fs-6">Sign Up URL : </span>
        <div class="input-group flex-grow me-2">
  
          <input 
            readonly 
            type="text" 
            class="text-dark form-control form-control-sm"
            [(ngModel)]="generatedLink"
          />
          <div class="input-group-append">
            <button type="button" 
              (click)="onCopyLink()"
              class="
                btn btn-sm btn-active-success btn-outline btn-outline-success 
                bg-light-success rounded-start-0 w-100px
              "
            >
              Copy
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-sm btn-primary text-nowrap"
          (click)="onGenerateNew()">Generate New</button>
      </div>
    </div>
    <!-- #endregion Generate New -->
  
  </div>
  <!-- #endregion Body -->
  