<div class="card">
    <!-- #region Header -->
    <div class="card-header">
        <div class="card-title">
            <h3 class="fw-normal fw-bolder m-0">Revenue Statistics</h3>
        </div>
    </div>
    <!-- #endregion Header -->

    <!-- #region Body -->
    <div class="card-body h-300px">

        <!-- #region Net Earnings -->
        <div class="d-flex justify-content-between p-3">

            <div class="text-muted fw-bolder">
                Net Earnings
            </div>
            <div class="text-success fw-bolder">
                ${{1487 | number}}
            </div>

        </div>
        <!-- #region Net Earnings -->

        <!-- #region Last Month's Net Income -->
        <div class="d-flex justify-content-between p-3">

            <div class="text-muted fw-bolder">
                Last Month's Net Income
            </div>
            <div class="text-success fw-bolder">
                ${{2145 | number}}
            </div>

        </div>
        <!-- #region Last Month's Net Income -->

        <!-- #region Most profitable Month -->
        <div class="d-flex justify-content-between p-3">

            <div class="text-muted fw-bolder">
                Most Profitable Month
            </div>
            <div class="text-success fw-bolder">
                May ${{2145 | number}}
            </div>

        </div>
        <!-- #region Most profitable Month -->

        <!-- #region Least profitable Month -->
        <div class="d-flex justify-content-between p-3">

            <div class="text-muted fw-bolder">
                Most Profitable Month
            </div>
            <div class="text-danger fw-bolder">
                June ${{2145 | number}}
            </div>

        </div>
        <!-- #region Least profitable Month -->

    </div>
    <!-- #endregion Body -->

</div>