<!-- #region Hierarchy -->
<div class="row g-5 g-xxl-8">

    <!-- #region generate sign up link for affiliate marketer -->
    <div class="col-xl-12">
        <prms-generate-sign-up-link-for-affiliate-marketer class="card">
        </prms-generate-sign-up-link-for-affiliate-marketer>
    </div>
    <!-- #endregion generate sign up link for affiliate marketer -->

    <!-- #region marketers list -->
    <div class="col-xl-12">
        <prms-marketers-list>
        </prms-marketers-list>
    </div>
    <!-- #endregion marketers list -->

    <!-- #region admin roles -->
    <div class="col-xl-6">
        <prms-admin-roles>
        </prms-admin-roles>
    </div>
    <!-- #endregion admin roles -->

    <!-- #region admins -->
    <div class="col-xl-6">
        <prms-admins>
        </prms-admins>
    </div>
    <!-- #endregion admins -->

</div>
<!-- #endregion Hierarchy -->