<div class="card w-800px mw-100 mh-100">
    <!-- #region Header -->
    <div class="card-header">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">Meeting title</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-icon btn-sm text-hover-danger" (click)="close()">
                <i class="bi bi-x-lg text-dark fs-4"></i>
            </button>
        </div>
    </div>
    <!-- #endregion Header -->

    <div class="form">
        <div class="card-body border-top p-9 h-400px">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext">Description</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext  text-primary">{{data.date}}</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Duration</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext  text-primary ">{{data.houres}}</p>
                </div>
            </div>

            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Participants</label>
                <div class="col-sm-8">
                    <p class="form-control-plaintext  text-primary">{{data.houres}}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="card-footer" style="direction: rtl;">
        <button class="btn btn-primary" (click)="close()">Done</button>
    </div>
</div>