<!-- #region Header -->
<div class="card-header border-0">
  <h3 class="card-title fw-bolder text-dark">Todo</h3>
  <div class="card-toolbar">
    <!-- #region Menu -->
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary"
      data-kt-menu-trigger="click"
      data-kt-menu-placement="bottom-end"
      data-kt-menu-flip="top-end"
    >
      <span
        [inlineSVG]="'./assets/media/icons/duotune/general/gen024.svg'"
        class="svg-icon svg-icon-2"
      ></span>
    </button>
    <app-dropdown-menu1></app-dropdown-menu1>
    <!-- #endregion Menu -->
  </div>
</div>
<!-- #endregion Header -->
<!-- #region Body -->
<div class="card-body pt-2">
  <!-- #region Item -->
  <div class="d-flex align-items-center mb-8">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Create FireStone Logo
      </a>
      <span class="text-muted fw-bold d-block">Due in 2 Days</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-success fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
  <!-- #region Item -->
  <div class="d-flex align-items-center mb-8">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-primary"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Stakeholder Meeting
      </a>
      <span class="text-muted fw-bold d-block">Due in 3 Days</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-primary fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
  <!-- #region Item -->
  <div class="d-flex align-items-center mb-8">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-warning"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Scoping &amp; Estimations
      </a>
      <span class="text-muted fw-bold d-block">Due in 5 Days</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-warning fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
  <!-- #region Item -->
  <div class="d-flex align-items-center mb-8">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-primary"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        KPI App Showcase
      </a>
      <span class="text-muted fw-bold d-block">Due in 2 Days</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-primary fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
  <!-- #region Item -->
  <div class="d-flex align-items-center mb-8">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-danger"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Project Meeting
      </a>
      <span class="text-muted fw-bold d-block">Due in 12 Days</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-danger fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
  <!-- #region Item -->
  <div class="d-flex align-items-center">
    <!-- #region Bullet -->
    <span class="bullet bullet-vertical h-40px bg-success"></span>
    <!-- #endregion Bullet -->
    <!-- #region Checkbox -->
    <div class="form-check form-check-custom form-check-solid mx-5">
      <input class="form-check-input" type="checkbox" value="" />
    </div>
    <!-- #endregion Checkbox -->
    <!-- #region Description -->
    <div class="flex-grow-1">
      <a href="#" class="text-gray-800 text-hover-primary fw-bolder fs-6">
        Customers Update
      </a>
      <span class="text-muted fw-bold d-block">Due in 1 week</span>
    </div>
    <!-- #endregion Description -->
    <span class="badge badge-light-success fs-8 fw-bolder">New</span>
  </div>
  <!-- end:Item -->
</div>
<!-- #endregion Body -->
