<!-- #region Header -->
<div class="card-header">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-normal fs-3 mb-1">Manage Links</span>
    <span class="text-muted mt-1 fw-normal fs-7">{{tableDataSource.totalCount}} Links</span>
  </h3>
  <div class="card-toolbar">

    <!-- #region filter -->
    <div ngbDropdown placement="bottom-right">
      <button class="btn btn-icon-dark" id="tableFilter" ngbDropdownToggle>
        Filter
      </button>
      <div ngbDropdownMenu aria-labelledby="tableFilter">

        <div class="card w-350px">

          <div class="card-header d-flex align-items-center min-h-50px px-7">
            <h3 class="m-0 fw-bolder">Filter Options</h3>
          </div>
          <div class="card-body d-flex flex-column py-5 px-7">

            <div class="mb-5">
              <label class="fw-bolder mb-1">Name :</label>
              <input type="text" class="form-control form-control-solid" placeholder="name"
                [(ngModel)]="tableFilterOptions.name">
            </div>

            <div class="mb-5">
              <label class="fw-bolder mb-1">Status :</label>
              <ng-select [searchable]="false" class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark"
                placeholder="statuses">
                <ng-option value="1">All</ng-option>
                <ng-option value="2">Successful</ng-option>
                <ng-option value="2">Unsuccessful</ng-option>
              </ng-select>
            </div>

            <div class="mb-5">
              <label class="fw-bolder mb-1">Source :</label>
              <ng-select [addTag]="true" [items]="sourceDto" bindLabel="value" bindValue="key"
                [(ngModel)]="tableFilterOptions.source"
                class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark" placeholder="source">
              </ng-select>
            </div>

            <div class="mb-5">
              <label class="fw-bolder mb-1">Medium :</label>
              <ng-select [addTag]="true" [items]="mediumDto" bindLabel="value" bindValue="key"
                class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark" placeholder="medium"
                [(ngModel)]="tableFilterOptions.medium">
              </ng-select>
            </div>

          </div>
          <div class="card-footer py-5 px-7 text-end border-0">
            <div class="btn btn-light me-3" (click)="onBtnResetFilterClick()">Reset</div>
            <div class="btn btn-primary" (click)="onBtnApplyFilterClick()">Apply</div>
          </div>
        </div>

      </div>
    </div>
    <!-- #endregion filter -->

    <!-- #region New Link -->
    <button class="btn btn-sm btn-primary" (click)="onBtnCreateNewLinkClick()">
      Create New Link
    </button>
    <!-- #endregion New Link -->
  </div>
</div>
<!-- #endregion Header -->

<!-- #region Body -->
<div class="card-body p-0">
  <!-- #region Table container -->
  <div class="table-responsive mh-400px pt-5 px-6">
    <!-- #region Table -->
    <table class="table align-middle mb-0 gx-3">
      <!-- #region Table head -->
      <thead>
        <tr class="fw-normal bg-light">
          <th class="ps-4 min-w-200px rounded-start">Name</th>
          <th class="min-w-125px  text-center">
            <div class="align-items-center d-flex justify-content-center">
              Entries
              <prms-tool-tip [context]="tooltips.links.manageLinks.entries" class="ms-1"></prms-tool-tip>
            </div>
          </th>
          <th class="min-w-125px  text-center">Status</th>
          <th class="min-w-200px  text-center">Page</th>
          <th class="min-w-150px  text-center">Date</th>
          <th class="min-w-150px  text-center text-end rounded-end"></th>
        </tr>
      </thead>
      <!-- #endregion Table head -->
      <!-- #region Table body -->
      <tbody>
        <tr *ngFor="let item of tableDataSource.items"
          class="border-gray-200 border-bottom-dashed border-bottom-1 cursor-pointer" (click)="onTableRowClick(item)">
          <td class="min-w-200px py-6  text-center">
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a class="text-primary mb-1 fs-6  text-center">
                  {{item.name}}
                </a>
                <span class="text-gray-400 d-block fs-8">
                  {{item.linkCampaignName}}
                </span>
              </div>
            </div>
          </td>

          <td class="min-w-100px  text-center">
            <a class="text-dark d-block mb-1 fs-6">
              ---
            </a>
            <span class="text-gray-400 d-block fs-8">4.5% Converted</span>
          </td>

          <td class="min-w-150px  text-center">
            <span class="text-success d-block mb-1 fs-6">
              Successful
            </span>
            <span class="text-gray-400 d-block fs-8">$700 Gained Revenue</span>
          </td>

          <td class="min-w-250px  text-center">
            <span class="text-primary d-block mb-1 fs-6">
              <a href="{{baseLinkUrl}}/{{item.url}}">
                {{baseLinkUrl}}
              </a>
            </span>
            <span class="text-gray-400 d-block fs-8">$1,256,700 Donated</span>
          </td>

          <td class="min-w-100px  text-center">
            <span class="text-dark d-block mb-1 fs-6">
              {{item.date}}
            </span>
            <span class="text-gray-400 d-block fs-8">${{item.time}}</span>
          </td>

          <td class="text-end min-w-150px  text-center" (click)="$event.stopPropagation()">
            <button (click)="onBtnCopyUrlClick(item)" class="
                btn btn-icon btn-sm btn-bg-light btn-active-color-primary
                fs-9
                me-1
              ">
              <i class="fa-solid fa-link"></i>
            </button>
            <button (click)="onBtnUpdateExistLinkClick(item.id)" class="
                btn btn-icon btn-sm btn-bg-light btn-active-color-primary
                fs-9
                me-1
              ">
              <i class="fa-solid fa-pen"></i>
            </button>
            <button (click)="onBtnDeleteLinkClick(item)" class="btn btn-icon btn-sm btn-bg-light btn-active-color-primary
                fs-9
              ">
              <i class="fa-solid fa-xmark fs-5"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <!-- #endregion Table body -->
    </table>
    <!-- #endregion Table -->
  </div>
  <prms-table-pagination [model]="tableDataSource" (change)="onGetListPagination()"></prms-table-pagination>
  <!-- #endregion Table container -->
</div>
<!-- #endregion Body -->