<div class="card-header">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-normal fs-3 mb-1">Default Commissions</span>
    </h3>
    <button type="button" class="btn btn-secondary">Change</button>
</div>

<div class="card-body">
    <div class="d-flex justify-content-start">
        <div class="symbol symbol-50px me-5">
            <img alt="logo" src="./assets/media/avatars/300-1.jpg">
        </div>
        <div class="d-flex justify-content-start flex-column me-10">
            <div class="d-flex">
                <p class="h2 mb-1 fs-6 me-5"> Kirdush </p>
            </div>
            <span class="text-gray-400 d-block fs-8"> RJoind by someone...
            </span>
        </div>
        <prms-commission-persentage></prms-commission-persentage>
    </div>
</div>