<!-- #region Password -->
<div class="p-10 p-lg-15 ">
  <form class="form w-100" 
    [formGroup]="form" 
    novalidate="novalidate" 
    id="kt_login_signin_password_form"
    (ngSubmit)="submit()">
    <!--#region Heading-->
    <div class="text-center mb-20">
      <h1 class="text-dark">Sign In to HelpaHand PRMS</h1>
    </div>
    <!--#endregion Heading-->

    <!--#region Form group-->
    <div class="fv-row mb-20">
      <label class="form-label fs-6 fw-bolder text-dark">Email</label>
      <input 
        class="form-control form-control-lg form-control-solid"
        type="email" name="email" formControlName="email"
        (ngModelChange)="loginHandel.setState($event)"
        autocomplete="off"
      />
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Email is required',
            control: fControls['email']
          }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'email',
            message: 'Email is invalid',
            control: fControls['email']
          }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minLength',
            message: 'Email should have at least 3 symbols',
            control: fControls['email']
          }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Email should have maximum 360 symbols',
            control: fControls['email']
          }"></ng-container>
    </div>
    <!--#endregion Form group-->

    <!--#region Form group-->
    <div class="fv-row mb-20">
      <div class="d-flex mt-n5">
        <div class="d-flex flex-row-fluid flex-stack mb-2">
          <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
          <a 
            class="link-primary fs-6 fw-bolder" 
            id="kt_login_forgot" 
            [style.margin-left]="'5px'"
            routerLink="/auth/forgot-password"
            [queryParams]="{email:fControls['email'].valid?fControls['email'].value:''}"
          >
            Forgot Password ?
          </a>
        </div>
      </div>

      <!--#region Input wrapper-->
      <div class="position-relative">
        <input 
          class="form-control form-control-lg form-control-solid" 
          [type]="showPass?'text':'password'" 
          placeholder="Password" 
          autocomplete="off"
          formControlName="password"
         >
        <span 
          class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
          (click)="showPass=!showPass"
        >
          <i class="bi bi-eye-slash fs-2" [class.d-none]="!showPass"></i>
          <i class="bi bi-eye fs-2" [class.d-none]="showPass"></i>
        </span>
      </div>
      <!--#endregion Input wrapper-->
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Password is required',
            control: fControls['password']
          }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'minlength',
            message: 'Password should have at least 3 symbols',
            control: fControls['password']
          }"></ng-container>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxLength',
            message: 'Password should have maximum 100 symbols',
            control: fControls['password']
          }"></ng-container>
    </div>
    <!--#endregion Form group-->

    <!--#region Action-->
    <div class="text-center">
      <button type="submit" id="kt_sign_in_submit_step1" class="btn btn-lg btn-primary w-100 mb-5"
        [disabled]="form.invalid || (isLoading$ | async)">
        <ng-container *ngIf="isLoading$ | async">
          <span class="indicator-progress" [style.display]="'block'">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
        <ng-container *ngIf="!(isLoading$ | async)"> 
          <span class="indicator-label">{{
            (loginHandel.timer$ | async) ?
            'Continue (' + (loginHandel.timer$|async|toMinute) + ')':
            'Submit'
          }}</span>
        </ng-container>
      </button>
    </div>
    <!--#endregion Action-->
  </form>
</div>
<!-- #endregion Password -->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>