<!--#region Tiles Widget 3-->
<div
  class="card card-custom bgi-no-repeat bgi-no-repeat bgi-size-cover"
  [ngClass]="cssClass"
  [ngStyle]="{ height: widgetHeight }"
  style="background-image: url('./assets/media/bg/bg-9.jpg')"
>
  <!--#region Body-->
  <div class="card-body d-flex flex-column">
    <!--#region Title-->
    <a
      class="
        text-dark-75 text-hover-primary
        font-weight-bolder font-size-h3
        cursor-pointer
      "
      >Properties</a
    >
    <!--#endregion Title-->
  </div>
  <!--#endregion Body-->
</div>
<!--#endregion Tiles Widget 3-->
