<!-- #region card -->
<div class="card">
    <!-- #region Header -->
    <div class="card-header border-0">

        <!-- #region title -->
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label fw-normal fs-3 mb-1 d-flex align-items-center">
                <span>Marketers List</span>
                <prms-tool-tip [context]="tooltips.title" class="ms-1"></prms-tool-tip>
            </span>
            <span class="text-muted fw-normal fs-6">21 Marketers</span>
        </h3>
        <!-- #endregion title -->

        <!-- #region toolbar -->
        <div class="card-toolbar">
            <!-- #region filter -->
            <div ngbDropdown placement="bottom-right">
                <button class="btn btn-icon-dark" id="tableFilter" ngbDropdownToggle>
                    Filter
                </button>
                <div ngbDropdownMenu aria-labelledby="tableFilter">

                    <div class="card w-350px">

                        <div class="card-header d-flex align-items-center min-h-50px px-7">
                            <h3 class="m-0 fw-bolder">Filter Options</h3>
                        </div>
                        <div class="card-body d-flex flex-column py-5 px-7">

                            <div class="mb-5">
                                <label class="fw-bolder mb-1">Name:</label>
                                <input type="text" class="form-control form-control-solid"
                                    [(ngModel)]="tableFilterOptions.name" placeholder="name">
                            </div>

                            <div class="mb-5">
                                <label class="fw-bolder mb-1">User Name:</label>
                                <input type="text" class="form-control form-control-solid"
                                    [(ngModel)]="tableFilterOptions.userName" placeholder="user name">
                            </div>

                            <div class="mb-5">
                                <label class="fw-bolder mb-1">Role Name:</label>
                                <ng-select [searchable]="false"
                                    class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark"
                                    placeholder="role name" [(ngModel)]="tableFilterOptions.roleName" [multiple]="true">
                                    <ng-option value="rm">RM</ng-option>
                                    <ng-option value="dm">DM</ng-option>
                                    <ng-option value="level3">Level3</ng-option>
                                    <ng-option value="level4">Level4</ng-option>
                                    <ng-option value="level5">Level5</ng-option>
                                </ng-select>
                            </div>

                            <div class="mb-5">
                                <label class="fw-bolder mb-1">User Category Name:</label>
                                <ng-select [searchable]="false"
                                    class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark"
                                    placeholder="category name" [(ngModel)]="tableFilterOptions.userCategoryName"
                                    [multiple]="true">
                                    <ng-option [value]="cat.id" *ngFor="let cat of userCategoriesList.items">{{cat.name}}
                                    </ng-option>
                                </ng-select>
                            </div>

                            <div class="mb-5">
                                <label class="fw-bolder mb-1">Gender:</label>
                                <ng-select [searchable]="false"
                                    class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark"
                                    placeholder="Gender" [(ngModel)]="tableFilterOptions.gender">
                                    <ng-option value="">All</ng-option>
                                    <ng-option value="male">male</ng-option>
                                    <ng-option value="femail">femail</ng-option>
                                </ng-select>
                            </div>

                            <div>
                                <label class="fw-bolder mb-1">Email:</label>
                                <input type="text" class="form-control form-control-solid"
                                    [(ngModel)]="tableFilterOptions.email" placeholder="email">
                            </div>

                        </div>
                        <div class="card-footer py-5 px-7 text-end border-0">
                            <div class="btn btn-light me-3" (click)="onBtnResetFilterClick()">Reset</div>
                            <div class="btn btn-primary" (click)="onBtnApplyFilterClick()">Apply</div>
                        </div>

                    </div>

                </div>
            </div>
            <!-- #endregion filter -->
            <!-- #region export -->
            <button class="btn m-5 p-0">
                <i class="bi bi-box-arrow-up fs-2"></i>
            </button>
            <!-- #endregion export -->
            <!-- #region categories -->
            <button class="btn btn-primary" (click)="onBtnCategoriesClick()">
                Categories
            </button>
            <!-- #endregion categories -->
        </div>
        <!-- #endregion toolbar -->

    </div>
    <!-- #endregion Header -->

    <!-- #region body -->
    <div class="card-body p-0">
        <!-- #region Table container -->
        <div class="table-responsive mah-400px pt-0 px-6">
            <!-- #region Table -->
            <table class="table align-middle mb-0 gx-3 text-center">

                <!-- #region Table head -->
                <thead>
                    <tr class="fw-normal bg-light">
                        <th class="ps-4 rounded-start min-w-300px text-start">Marketer name</th>
                        <th class="min-w-100px">Level</th>
                        <th class="min-w-125px">
                            <span class="d-flex align-items-center justify-content-center">
                                <span>State</span>
                                <prms-tool-tip class="ms-1" [context]="tooltips.state"></prms-tool-tip>
                            </span>
                        </th>
                        <th class="min-w-125px">
                            <div class="d-flex align-items-center">
                                Successful links
                                <prms-tool-tip [context]="tooltips.successfulLinks" class="ms-1"></prms-tool-tip>
                            </div>
                        </th>
                        <th class="min-w-200px">
                            <div class="d-flex align-items-center">
                                Successful campaigns
                                <prms-tool-tip [context]="tooltips.successfulCampaigns" class="ms-1"></prms-tool-tip>
                            </div>
                        </th>
                        <th class="min-w-100px">Subsets</th>
                        <th class="min-w-200px">Monthly income</th>
                        <th class="min-w-200px">Total income</th>
                        <th class="min-w-200px rounded-end">Helphand Revenue</th>
                    </tr>
                </thead>
                <!-- #endregion Table head -->

                <!-- #region Table body -->
                <tbody>
                    <tr *ngFor="let marketer of tableDataSource.items"
                        class="border-gray-200 border-bottom-dashed border-bottom-1 fs-5">

                        <!-- #region marketer name -->
                        <td class="min-w-350px py-6 text-start">
                            <div class="d-flex align-items-center flex-grow-1">
                                <div class="symbol symbol-60px me-4">
                                    <img [src]="marketer.profileImageUrl" alt="user image"
                                        [hidden]="!marketer.profileImageUrl" />
                                    <div class="symbol-label fs-2 fw-bold text-primary"
                                        [hidden]="marketer.profileImageUrl">
                                        {{marketer.fullName.substring(0,1)}}
                                    </div>
                                </div>
                                <div class="d-flex flex-column">
                                    <a class="text-gray-800 mb-1 mb-2 fw-bolder" [routerLink]="['/activities/overview']"
                                        [queryParams]="{i: marketer.id}">
                                        {{marketer.fullName}}
                                        <span class="badge bg-primary rounded-circle badge-sm ms-2"
                                            *ngIf="marketer.marketerTypeTitle != 'No Marketer Type'">
                                            {{marketer.marketerTypeTitle | roleConverter}}
                                        </span>
                                    </a>
                                    <span class="text-muted fs-7 fw-bolder">Joined by {{marketer.parentName}}</span>
                                </div>
                            </div>
                        </td>
                        <!-- #endregion marketer name -->
                        <!-- #region level -->
                        <td class="min-w-100px">
                            <div *ngIf="marketer.marketerTypeTitle != 'No Marketer Type'">
                                {{marketer.marketerTypeTitle | roleConverter}}
                            </div>
                            <div>&nbsp;</div>
                        </td>
                        <!-- #endregion level-->
                        <!-- #region state -->
                        <td class="min-w-150px">
                            <div class="mb-2">{{marketer.addresss[0]?.stateName}}</div>
                            <div class="text-muted fs-7">{{marketer.userCategoryName}}</div>
                        </td>
                        <!-- #endregion state -->
                        <!-- #region successful link -->
                        <td class="min-w-150px text-muted">
                            <div class="mb-2">
                                <span class="text-success">{{generateRandom(0,50)}}</span>
                                <span>/{{generateRandom(0,100)}}</span>
                            </div>
                            <div class="text-muted fs-7">Successful links</div>
                        </td>
                        <!-- #endregion successful link -->
                        <!-- #region successful campaigns -->
                        <td class="min-w-150px text-muted">
                            <div class="mb-2">
                                <span class="text-success">{{generateRandom(0,40)}}</span>
                                <span>/{{generateRandom(0,50)}}</span>
                            </div>
                            <div class="text-muted fs-7">Successful campaigns</div>
                        </td>
                        <!-- #endregion successful campaigns -->
                        <!-- #region subsets -->
                        <td class="min-w-150px">
                            <div class="mb-2">{{generateRandom(0,50)}}</div>
                            <div class="text-muted fs-7">Subsets</div>
                        </td>
                        <!-- #endregion subsets -->
                        <!-- #region monthly income -->
                        <td class="min-w-150px">
                            <div class="text-success mb-2">${{ generateRandom(1000,10000) | number }}</div>
                            <div class="text-muted fs-7">Monthly income</div>
                        </td>
                        <!-- #endregion monthly income -->
                        <!-- #region total income -->
                        <td class="min-w-150px">
                            <div class="text-success mb-2">${{ generateRandom(3000,10000) | number }}</div>
                            <div class="text-muted fs-7">Total income</div>
                        </td>
                        <!-- #endregion total income -->
                        <!-- #region Helphand Revenue -->
                        <td class="min-w-150px">
                            <div class="text-success mb-2">${{ generateRandom(5000,10000) | number }}</div>
                            <div class="text-muted fs-7">Total Revenue</div>
                        </td>
                        <!-- #endregion Helphand Revenue -->

                    </tr>
                </tbody>
                <!-- #endregion Table body -->
            </table>
            <!-- #endregion Table -->
        </div>
        <prms-table-pagination [model]="tableDataSource" (change)="getMarketersList()"></prms-table-pagination>
        <!-- #endregion Table container -->
    </div>
    <!-- #endregion body -->
</div>
<!-- #endregion card -->