<div class="row g-5 g-xxl-8">

    <!-- #region prms team commissions -->
    <div class="col-xl-12">
        <prms-team-commissions [teamId]="teamId">
        </prms-team-commissions>
    </div>
    <!-- #endregion prms team commissions -->

    <!-- #region prms team members -->
    <div class="col-xl-12">
        <prms-team-members [teamId]="teamId">
        </prms-team-members>
    </div>
    <!-- #endregion prms team members -->

    <!-- #region prms rewards -->
    <div class="col-xl-12">
        <prms-rewards [teamId]="teamId">
        </prms-rewards>
    </div>
    <!-- #endregion prms rewards -->

</div>