<div class="card w-800px mw-100 mh-100">
  <!-- #region Header -->
  <div class="card-header">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">{{title}} Link</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-icon btn-sm text-hover-danger" (click)="close()">
        <i class="bi bi-x-lg text-dark fs-4"></i>
      </button>
    </div>
  </div>
  <!-- #endregion Header -->

  <form novalidate="novalidate" class="form" [formGroup]="submitForm" (ngSubmit)="createNewLink()">
    <!-- #region Body -->
    <div class="card-body border-top py-2 h-400px scroll-card-body">

      <!-- #region Link Name -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Link Name</label>
        <div class="col-lg-8 fv-row">
          <input type="text" autocomplete="off" class="
            form-control form-control-solid
            text-dark mb-3 mb-lg-0 " required name="name" formControlName="name" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Link Name is Required',
            control: submitForm.controls['name']
          }"></ng-container>
        </div>
      </div>
      <!-- #endregion Link Name -->

      <!-- #region Campaign -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">Campaign</label>
        <div class="col-lg-8 fv-row">
          <select class="form-select form-select-solid fw-bold text-dark" name="campaignId"
            formControlName="campaignId">
            <option value="{{item.id}}" *ngFor="let item of campaigns">{{item.name}}</option>
          </select>
        </div>
      </div>
      <!-- #endregion Campaign -->

      <!-- #region Link Url -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="d-flex align-items-center">
            Link URL
            <prms-tool-tip [context]="tooltips.newLink.linkURL" class="ms-1">
            </prms-tool-tip>
          </span>
        </label>
        <div class="col-lg-8 fv-row">
          <select class="form-select form-select-solid fw-bold text-dark" [(ngModel)]="urlId" name="urlId"
            (change)="onChangeUrl($event)" [ngModelOptions]="{standalone: true}">
            <option value="0">Custom</option>
            <option value="1">Individual</option>
            <option value="2">NPO</option>
            <option value="3">User Login</option>
          </select>
        </div>
      </div>

      <div class="row mb-6" *ngIf="urlId === '0' ">
        <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="d-flex align-items-center">
            Custom URL
            <prms-tool-tip [context]="tooltips.newLink.customURL" class="ms-1">
            </prms-tool-tip>
          </span>
        </label>
        <div class="col-lg-8 fv-row">
          <input type="text" class="
          form-control form-control-solid
          text-dark mb-3 mb-lg-0 " required name="url" formControlName="url" />
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Custom Url is Required',
          control: submitForm.controls['url']
        }"></ng-container>
        </div>
      </div>
      <!-- #endregion Link Url -->

      <!-- #region Link source -->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="d-flex align-items-center">
            Source
            <prms-tool-tip [context]="tooltips.newLink.source" class="ms-1">
            </prms-tool-tip>
          </span>
        </label>
        <div class="col-lg-8 fv-row">
          <!--   -->
          <ng-select [addTag]="true" [items]="sourceDto" name="source" formControlName="source" bindLabel="value"
            bindValue="key" class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark" (change)="onChangeSource($event)">
          </ng-select>
        </div>
      </div>
      <!-- #region Link source -->

      <!-- #region Link medium -->
      <div class="row">
        <label class="col-lg-4 col-form-label fw-bold fs-6">
          <span class="d-flex align-items-center">            
            Medium
            <prms-tool-tip [context]="tooltips.newLink.medium" class="ms-1">
            </prms-tool-tip>
          </span>
        </label>
        <div class="col-lg-8 fv-row">
          <ng-select [addTag]="true" [items]="mediumDto" name="medium" formControlName="medium" bindLabel="value"
            bindValue="key" class="custom-select ng-select-solid ng-select-lg fw-bold ng-select-dark" (change)="onChangeMedium($event)">
          </ng-select>
          <!-- <input type="text" class="
          form-control form-control-solid
          text-dark mb-3 mb-lg-0 " name="medium" formControlName="medium" /> -->
        </div>
      </div>
      <!-- #region Link source -->
    </div>
    <!-- #endregion Body -->

    <!-- #region Card Footer -->
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <!-- #region Create URL -->
      <button type="submit" class="btn btn-primary" [disabled]="isLoading"
        [disabled]="submitForm.invalid || (isLoading$ | async)">
        <ng-container *ngIf="!isLoading">Save Link</ng-container>
        <ng-container *ngIf="isLoading">
          <span clas="indicator-progress" [style.display]="'block'">
            Please Wait...{{ " " }}
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
      </button>
      <!-- #endregion Create URL -->
    </div>
    <!-- #endregion Card Footer -->
  </form>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container invalid-feedback">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>