<!-- #region Overview -->
<div class="row g-5 g-xxl-8">

    <!-- #region campaign creation funnel -->
    <div class="col-xl-6">
        <prms-campaign-creation-funnel>
        </prms-campaign-creation-funnel>
    </div>
    <!-- #endregion campaign creation funnel -->

    <!-- #region donation funnel -->
    <div class="col-xl-6">
        <prms-donation-funnel>
        </prms-donation-funnel>
    </div>
    <!-- #endregion donation funnel -->

    <!-- #region entries -->
    <div class="col-xl-12">
        <prms-entries>
        </prms-entries>
    </div>
    <!-- #endregion entries -->

</div>
<!-- #endregion Overview -->