<!-- #region Overview -->
<div class="row g-5 g-xxl-8">

    <!-- #region monthly net earnings -->
    <div class="col-xl-8">
        <prms-monthly-net-earnings>
        </prms-monthly-net-earnings>
    </div>
    <!-- #endregion monthly net earnings -->

    <!-- #region revenue statistics -->
    <div class="col-xl-4">
        <prms-revenue-statistics>
        </prms-revenue-statistics>
    </div>
    <!-- #endregion revenue statistics -->

    <!-- #region campaigns statistics -->
    <div class="col-xl-6">
        <prms-campaigns-statistics>
        </prms-campaigns-statistics>
    </div>
    <!-- #endregion campaigns statistics -->

    <!-- #region links statistics -->
    <div class="col-xl-6">
        <prms-links-statistics>
        </prms-links-statistics>
    </div>
    <!-- #endregion links statistics -->

    <!-- #region all tasks -->
    <div class="col-xl-4">
        <prms-all-tasks>
        </prms-all-tasks>
    </div>
    <!-- #endregion all tasks -->

    <!-- #region all activities -->
    <div class="col-xl-4">
        <prms-all-activities>
        </prms-all-activities>
    </div>
    <!-- #endregion all activities -->

    <!-- #region rewards -->
    <div class="col-xl-4">
        <prms-reward-chart>
        </prms-reward-chart>
    </div>
    <!-- #endregion rewards -->

</div>
<!-- #endregion Overview -->